<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h3><%= ctx.t('group.archived.title'); %></h3>
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('common.description'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% groups.forEach(group => { %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.description %></td>
          <td>
            <div class="small button-group float-right stacked-for-small">
              <a class="success button" href="<%= ctx.getRoute('group.archive', { id: group._id, status: false }); %>"><i class="fi-arrow-up"></i> <%= ctx.t('common.activate'); %></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<% include ../partials/footer %>