<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h3><%= ctx.t('group.edit.title'); %></h3>
      </legend>
      <% form.setRoute('group.edit', { id: group._id }); %>
      <%- form.renderRest(); %>
      <div class="button-group">
        <a href="<%= ctx.getRoute('user.profile'); %>" class="button alert"><i class="fi-arrow-left"></i>
          <%= ctx.t('common.back'); %></a>
        <a href="<%= ctx.getRoute('group.archive', { id: group._id, status: true }); %>" class="warning button"><i class="fi-archive"></i> <%= ctx.t('common.archive'); %></a>
      </div>
    </fieldset>
  </div>

  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h3><%= ctx.t('group.members.manage'); %></h3>
    <a href="<%= ctx.getRoute('group.members.create', { id: group._id }); %>" class="small button"><i
        class="fi-plus"></i> <%= ctx.t('group.members.create'); %></a>
    <table>
      <thead>
        <th><%= ctx.t('common.email'); %></th>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('common.description'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% group.members.forEach(member => { %>
        <tr>
          <td><%= member.email %></td>
          <td><%= member.name %></td>
          <td><%= member.description %></td>
          <td>
            <div class="button-group small">
              <a href="<%= ctx.getRoute('group.members.edit', { id: group._id, member: member._id }); %>"
                class="button"><i class="fi-widget"></i> <%= ctx.t('common.edit'); %></a>
              <a href="<%= ctx.getRoute('group.members.delete', { id: group._id, member: member._id }); %>"
                class="button alert"><i class="fi-trash"></i> <%= ctx.t('common.remove'); %></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<% include ../partials/footer %>