<script src="/foundation/js/vendor/jquery.js"></script>
<script src="/foundation/js/vendor/what-input.js"></script>
<script src="/foundation/js/vendor/foundation.js"></script>
<script src="/foundation/js/app.js"></script>