<head>
  <meta charset="utf-8" />
  <title>Ekola</title>

  <link rel="stylesheet" href="/foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="/foundation/css/foundation.min.css">
</head>
<div id="data" data-locale="<%= ctx.getLocale(); %>"></div>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Ekola-light</li>

      <% if (ctx.session && ctx.session.user) { %>
      <li><a href="<%= ctx.getRoute('user.profile'); %>"><i class="fi-home"></i> <%= ctx.t('user.profile.title'); %></a></li>
        <% if (ctx.session.user.admin) { %>
        <li><a href="<%= ctx.getRoute('user.list.unverified'); %>"><i class="fi-torsos"></i> <%= ctx.t('user.listUnverified'); %></a></li>
        <li><a href="<%= ctx.getRoute('user.list'); %>"><i class="fi-torsos"></i> <%= ctx.t('user.list.title'); %></a></li>
        <% } %>
      <li><a href="<%= ctx.getRoute('user.logout'); %>"><i class="fi-x"></i> <%= ctx.t('user.logout'); %></a></li>
      <% } else { %>
      <li><a href="<%= ctx.getRoute('user.login'); %>"><%= ctx.t('user.login'); %></a></li>
      <li><a href="<%= ctx.getRoute('user.register'); %>"><%= ctx.t('user.register'); %></a></li>
      <% } %>

      <li>
        <a href="#"><i class="fi-flag"></i> <%= ctx.t('common.locale'); %></a>
        <ul>
          <li><a href="<%= ctx.getRoute('app.locale', { locale: 'fi' }); %>"><img src="/locale_fi.png"> FI</a></li>
          <li><a href="<%= ctx.getRoute('app.locale', { locale: 'en' }); %>"><img src="/locale_en.png"> EN</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <%- ctx.getFlashMessanger().render(); %>
  </div>
</div>