<div class="reveal" id="common-modal" data-reveal>
  <h3 id="common-modal-header"><%= ctx.t('common.important'); %></h3>
  <p id="common-modal-message"></p>

  <a id="common-modal-confirm" href="#" class=" button"><i class="fi-check"></i> <%= ctx.t('common.confirm'); %></a>
  <button class="alert button" data-close><i class="fi-x"></i> <%= ctx.t('common.cancel'); %></button>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>