<% include ../partials/header %>
<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">

    <h3><%= survey.name %></h3>
    <h5><%= ctx.t('common.description'); %></h5>
    <p><%= survey.description %></p>

    <% form.setRoute('survey.answer', { id: survey._id, link: link._id, identifier: link.identifier }); %>
    <%- form.renderStart(); %>

    <button type="submit" class="button"><i class="fi-check"></i> <%= ctx.t('common.submit'); %></button>
    <ul class="accordion" data-accordion>
      <% survey.questions.forEach((question, i) => { %>
      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title"><%= i+1 %>. <%= question.name %></a>

        <div class="accordion-content" data-tab-content>
          <h4><%= question.name %></h4>
          <p><%= question.description %></p>
          <hr>
          <% question.criteria.forEach((criteria) => { %>
          <%- form.render(`${question._id}-${criteria._id}`); %>
          <hr>
          <% }); %>
        </div>
      </li>
      <% }); %>
    </ul>

    <%- form.renderRest(); %>
  </div>
</div>

<% include ../partials/footer %>

<script>
  // TODO set value of (slider) inputs without an existing answer (needs to be marked somehow..)
  // let ttt = $(':input');
  // for (const input of ttt) { input.value = null; }
</script>