<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h3><%= ctx.t('survey.archived.title'); %></h3>
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('survey.numberOfQuestions'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% surveys.forEach(survey => { %>
        <tr>
          <td><span data-tooltip title="<%= survey.description %>"><%= survey.name %></span></td>
          <td><span data-tooltip title="<%= survey.questions.map((question, i) => `${i+1}-${question.name}`).join(', '); %>"><%= survey.questions.length %></span></td>
          <td>
            <div class="small button-group float-right">
                <a href="<%= ctx.getRoute('survey.view', { id: survey._id }); %>" class="button"><i class="fi-page"></i> <%= ctx.t('common.view'); %></a>
              <a class="success button" href="<%= ctx.getRoute('survey.archive', { id: survey._id, status: false }); %>"><i class="fi-arrow-up"></i> <%= ctx.t('common.activate'); %></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<% include ../partials/footer %>