<% include ../partials/header %>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h3><i class="fi-clock"></i> <%= ctx.t('survey.is.closed'); %></h3>
    <p><%= ctx.t('survey.dates.openingDate'); %> <%= moment(survey.openingDate).format('DD.MM.YYYY'), %></p>
    <p><%= ctx.t('survey.dates.closingDate'); %> <%= moment(survey.closingDate).format('DD.MM.YYYY'), %></p>
  </div>
</div>

<% include ../partials/footer %>