<% include ../partials/header %>
<div id="params" data-url="<%= ctx.getRoute('survey.view.data', { id: survey._id }); %>"></div>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <ul class="tabs" data-tabs id="survey-tabs" data-deep-link="true">
        <li class="tabs-title is-active"><a href="#survey_panel"><%= ctx.t('survey.edit.survey'); %></a></li>
      <li class="tabs-title" aria-selected="true"><a
          href="#questions_panel"><%= ctx.t('survey.edit.questions'); %></a></li>
      <li class="tabs-title"><a href="#sharing_panel"><%= ctx.t('survey.edit.sharing'); %></a></li>
      <li class="tabs-title"><a href="#evaluation_panel"><%= ctx.t('survey.edit.evaluation'); %></a></li>
      <li class="tabs-title"><a href="#results_panel"><%= ctx.t('survey.edit.results'); %></a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="survey-tabs">
      <!-- Survey information -->
      <div class="tabs-panel is-active" id="survey_panel">
        <fieldset class="fieldset">
          <legend>
            <h4><%= ctx.t('survey.edit.title'); %></h4>
          </legend>
          <% form.setRoute('survey.edit', { id: survey._id }); %>
          <%- form.renderRest(); %>
          <a href="<%= ctx.getRoute('user.profile'); %>" class="button alert"><i class="fi-arrow-left"></i>
            <%= ctx.t('common.back'); %></a>
          <a href="<%= ctx.getRoute('survey.archive', { id: survey._id, status: true }); %>" class="warning button"><i
              class="fi-archive"></i> <%= ctx.t('survey.archive'); %></a>
          <a href="<%= ctx.getRoute('survey.copy', { id: survey._id }); %>" class="success button"><i
              class="fi-page-export"></i> <%= ctx.t('survey.copy'); %></a>
        </fieldset>
      </div>

      <!-- Questions -->
      <div class="tabs-panel" id="questions_panel">
        <h4><%= ctx.t('survey.edit.manageQuestions'); %></h4>
        <a href="<%= ctx.getRoute('survey.questions.add', { id: survey._id}) %>" class="small button"><i
            class="fi-plus"></i> <%= ctx.t('survey.add.question'); %></a>
        <table>
          <thead>
            <th><%= ctx.t('common.name'); %></th>
            <th><%= ctx.t('question.criteria.count'); %></th>
            <th></th>
          </thead>
          <tbody>
            <% survey.questions.forEach(question => { %>
            <tr>
              <td><span data-tooltip title="<%= question.description %>"><%= question.name %></span></td>
              <td><span data-tooltip title="<%= question.criteria.map((criteria, i) => `${i+1}-${criteria.name} (${ctx.t(criteria.type)})`).join(', ') %>"><%= question.criteria.length %></span></td>
              <td>
                <div class="small button-group float-right">
                  <a href="<%= ctx.getRoute('survey.questions.move', { id: survey._id, question: question._id, direction: 'up' }); %>" class="success button"><i class="fi-arrow-down"></i></a>
                  <a href="<%= ctx.getRoute('survey.questions.move', { id: survey._id, question: question._id, direction: 'down' }); %>" class="warning button"><i class="fi-arrow-up"></i></a>
                  <a href="<%= ctx.getRoute('survey.questions.edit', { id: survey._id, question: question._id }); %>" class="button" data-tooltip title="<%= ctx.t('common.edit'); %>"><i class="fi-widget"></i></a>
                  <button data-question="<%= question._id %>" type="button" class="alert button question-delete-button" data-tooltip title="<%= ctx.t('common.delete'); %>"><i class="fi-trash"></i></button>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <!-- Sharing information -->
      <div class="tabs-panel" id="sharing_panel">
        <h3><%= ctx.t('survey.edit.sharing'); %></h3>
        <div class="button-group">
          <a href="<%= ctx.getRoute('survey.links.refresh', { id: survey._id }); %>" class="success button"><i
              class="fi-loop"></i> <%= ctx.t('common.update'); %></a>
          <button class="button" id="send-notification-button" data-url="<%= ctx.getRoute('survey.notify', { id: survey._id }); %>"><i class="fi-mail"></i> <%= ctx.t('survey.edit.notify'); %></button>
        </div>

        <% survey.links.forEach(link => { %>
        <div class="input-group">
          <span class="input-group-label"><%= link.name %></span>
          <input class="input-group-field" type="text" id="<%= link._id %>"
            value="<%= ctx.getRoute('survey.answer', { id: survey._id, link: link._id, identifier: link.identifier }, '', true); %>">
          <div class="input-group-button">
            <button type="button" class="small button copy-link-button" data-link="<%= link._id %>"><%= ctx.t('common.copy'); %></button>
          </div>
        </div>
        <% }); %>
      </div>

      <!-- Evaluation information -->
      <div class="tabs-panel" id="evaluation_panel">
        <% if (evaluation) { %>
        <h4><%= evaluation.name %></h4>
        <label><%= ctx.t('common.description'); %></label>
        <p><%= evaluation.description %></p>

        <table>
          <thead>
            <th><%= ctx.t('common.name'); %></th>
            <th><%= ctx.t('group.numberOfMembers'); %></th>
          </thead>
          <tbody>
            <% evaluation.groups.forEach((group) => { %>
            <tr>
              <td><span data-tooltip title="<%= group.description %>"><%= group.name %></span></td>
              <td><%= group.members.length %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
        <h4><%= ctx.t('survey.noActiveEvaluation'); %></h4>
        <% } %>
      </div>

      <!-- Results information -->
      <div class="tabs-panel" id="results_panel">
        <h3><%= ctx.t('survey.results.title'); %></h3>
        <div class="small button-group">
          <a href="<%= ctx.getRoute('survey.excel', { id: survey._id }); %>" class="button"><i class="fi-download"></i>
            <%= ctx.t('survey.results.download'); %></a>
          <a href="<%= ctx.getRoute('survey.results', { id: survey._id }); %>" class="button"><i class="fi-results"></i>
            <%= ctx.t('survey.results.view'); %></a>
        </div>

        <p><%= ctx.t('survey.results.totalNumberOfAnswers'); %>: <b><%= survey.sessions.length %></b></p>
        <div class="chart-container" style="position: relative; height:350px; width:600px">
          <canvas id="results-canvas"></canvas>
        </div>
      </div>

    </div>
  </div>
</div>

<% include ../partials/modal %>
<% include ../question/partials/delete_modal %>
<% include ../partials/footer %>

<script src="/js/view.js"></script>
<script src="/js/survey/edit.js"></script>