<% include ../partials/header %>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h4><%= ctx.t('survey.public.title'); %></h4>

    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('survey.numberOfQuestions'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% for (const survey of surveys) { %>
        <tr>
          <td><span data-tooltip title="<%= survey.description %>"><%= survey.name %></span></td>
          <td><span data-tooltip title="<%= survey.questions.map((question, i) => `${i+1}-${question.name}`).join(', '); %>"><%= survey.questions.length %></span></td>
          <td>
            <div class="small button-group float-right">
              <a href="<%= ctx.getRoute('survey.view', { id: survey._id }); %>" class="button"><i class="fi-magnifying-glass"></i> <%= ctx.t('common.view'); %></a>
              <a href="<%= ctx.getRoute('survey.copy', { id: survey._id }); %>" class="success button"><i class="fi-page"></i> <%= ctx.t('common.copy'); %></a>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<% include ../partials/footer %>