<% include ../partials/header %>
<div id="params" data-url="<%= ctx.getRoute('survey.results.data', { id: survey._id }); %>"></div>

<div class="grid-x grid-padding-x">
  <div class="cell small-12 medium-10 medium-offset-1">
    <h3><%= survey.name %></h3>
    <div id="<%= `survey-info` %>"></div>
    <div class="small button-group">
        <a href="<%= ctx.getRoute('user.profile'); %>" class="button"><i class="fi-arrow-left"></i> <%= ctx.t('common.back'); %></a>
        <% if (survey.owner.equals(ctx.currentUser()._id)) { %>
        <a href="<%= ctx.getRoute('survey.edit', { id: survey._id }); %>" class="button"><i class="fi-widget"></i> <%= ctx.t('survey.edit.title'); %></a>
        <% } %>
        <a href="<%= ctx.getRoute('survey.excel', { id: survey._id }); %>" class="button"><i class="fi-download"></i> <%= ctx.t('survey.results.download'); %></a>
        <button id="collapse-all-button" type="button" class="button"><i class="fi-arrow-down"></i> <%= ctx.t('common.collapse'); %></button>
    </div>
  </div>

  <div class="cell small-12 medium-10 medium-offset-1">
    <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

      <% survey.questions.forEach((question, i) => { %>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="#" class="accordion-title"><%= `${i+1}. ` %> <%= question.name %></a>
        <div class="accordion-content" data-tab-content>
          <h4><%= question.name %></h4>
          <p><%= question.description %></p>
          <hr>

          <% question.criteria.forEach((criteria, ii) => { %>
          <h5><%= `${i+1}.${ii+1} - ` %> <%= criteria.name %> (<%= ctx.t(criteria.type)%>)</h5>
          <div id="<%= `${question._id}-${criteria._id}-container` %>">
            <div class="chart-container" style="position: relative; height:35vh; width:75vw">
              <canvas id="<%= `${question._id}-${criteria._id}` %>"></canvas>
            </div>
          </div>
          <hr>
          <% }); %>
        </div>
      </li>
      <% }); %>
    </ul>
  </div>
</div>

<% include ../partials/footer %>

<script src="/js/results.js"></script>