<% include ../partials/header %>
<div id="params" data-url="<%= ctx.getRoute('survey.view.data', { id: survey._id }); %>"></div>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <ul class="tabs" data-tabs id="survey-tabs" data-deep-link="true">
      <li class="tabs-title is-active"><a href="#survey_panel"><%= ctx.t('survey.edit.survey'); %></a></li>
      <li class="tabs-title" aria-selected="true"><a href="#questions_panel"><%= ctx.t('survey.edit.questions'); %></a></li>
      <li class="tabs-title" aria-selected="true"><a href="#evaluation_panel"><%= ctx.t('survey.edit.evaluation'); %></a></li>
      <li class="tabs-title"><a href="#results_panel"><%= ctx.t('survey.edit.results'); %></a></li>
    </ul>

    <!-- SURVEY -->
    <div class="tabs-content" data-tabs-content="survey-tabs">
      <div class="tabs-panel is-active" id="survey_panel">
        <fieldset class="fieldset">
          <legend><h4><%= survey.name %></h4></legend>
          <label><%= ctx.t('common.description'); %></label>
          <p><%= survey.description %></p>
          <p><%= ctx.t('survey.dates.openingDate'); %>: <b><%= survey.getOpeningDate().format('DD.MM.YYYY'); %></b></p>
          <p><%= ctx.t('survey.dates.closingDate'); %>: <b><%= survey.getClosingDate().format('DD.MM.YYYY'); %></b></p>
        </fieldset>
        <div class="button-group">
          <a href="<%= ctx.getRoute('survey.copy', { id: survey._id }); %>" class="button"><i class="fi-page-export"></i> <%= ctx.t('common.copy'); %></a>
        </div>
      </div>
    </div>

    <!-- QUESTIONS -->
    <div class="tabs-content" data-tabs-content="survey-tabs">
      <div class="tabs-panel" id="questions_panel">
        <h4><%= ctx.t('survey.edit.questions'); %></h4>
        <table>
          <thead>
            <th><%= ctx.t('common.name'); %></th>
            <th><%= ctx.t('question.criteria.count'); %></th>
          </thead>
          <tbody>
            <% survey.questions.forEach((question) => { %>
            <tr>
              <td><span data-tooltip title="<%= question.description %>"><%= question.name %></span></td>
              <td><span data-tooltip title="<%= question.criteria.map((criteria, i) => `${i+1}-${criteria.name} (${criteria.type})`).join(', ') %>"><%= question.criteria.length %></span></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- EVALUATION -->
    <div class="tabs-content" data-tabs-content="survey-tabs">
      <div class="tabs-panel" id="evaluation_panel">
        <% if (evaluation) { %>
        <h4><%= evaluation.name %></h4>
        <label><%= ctx.t('common.description'); %></label>
        <p><%= evaluation.description %></p>

        <table>
          <thead>
            <th><%= ctx.t('common.name'); %></th>
            <th><%= ctx.t('group.numberOfMembers'); %></th>
          </thead>
          <tbody>
            <% evaluation.groups.forEach((group) => { %>
            <tr>
              <td><span data-tooltip title="<%= group.description %>"><%= group.name %></span></td>
              <td><%= group.members.length %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
        <% } else { %>
          <h4><%= ctx.t('survey.noActiveEvaluation'); %></h4>
        <% } %>
      </div>
    </div>

    <!-- RESULTS -->
    <div class="tabs-content" data-tabs-content="survey-tabs">
      <div class="tabs-panel" id="results_panel">
        <h4><%= ctx.t('survey.edit.results'); %></h4>
        <div class="small button-group">
         <a href="<%= ctx.getRoute('survey.results', { id: survey._id }); %>" class="button"><i class="fi-results"></i> <%= ctx.t('survey.results.view'); %></a>
        </div>
        <p><%= ctx.t('survey.results.totalNumberOfAnswers'); %>: <b><%= survey.sessions.length %></b></p>
        <div class="chart-container" style="position: relative; height:350px; width:600px">
          <canvas id="results-canvas"></canvas>
        </div>
      </div>
    </div>
    <div class="button-group">
      <a href="<%= ctx.getRoute('survey.public.view'); %>" class="button"><i class="fi-arrow-left"></i> <%= ctx.t('common.back'); %></a>
    </div>
</div>

<% include ../partials/footer %>

<script src="/js/view.js"></script>