<div class="grid-x">
  <div class="cell small-12 medium-8 medium-offset-2">
    <h4><%= ctx.t('error.view.title'); %></h4>
    <p><%= ctx.t('error.view.description'); %></p>
  </div>
</div>

<% include ../partials/footer %>