<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <table>
      <thead>
        <th><%= ctx.t('common.email'); %></th>
        <th><%= ctx.t('user.createdAt'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% for(const user of users) { %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.getCreatedAt().format('DD.MM.YYYY'); %></td>
          <td>
            <div class="small button-group float-right">
              <button data-user="<%= user._id %>" class="button verify-button"><i class="fi-plus"></i> <%= ctx.t('user.verify'); %></button>
              <button data-user="<%= user._id %>" class="alert button reject-button"><i class="fi-x"></i> <%= ctx.t('user.reject'); %></button>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<% include ./partials/verify_modal %>
<% include ./partials/reject_modal %>

<% include ../partials/footer %>
<script src="/js/user/listUnverified.js"></script>