<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <table>
      <thead>
        <th><%= ctx.t('common.email'); %></th>
        <th><%= ctx.t('user.list.isAdmin'); %></th>
        <th><%= ctx.t('user.createdAt'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% for(const user of users) { %>
        <tr>
          <td><%= user.email %></td>
          <td><%- user.admin ? `<i class="fi-check"></i>` : `<i class="fi-x"></i>` %></td>
          <td><%= user.getCreatedAt().format('DD.MM.YYYY'); %></td>
          <td>
            <div class="small button-group float-right">
              <% if (user.admin) { %>
              <button data-user="<%= user._id %>" class="alert button demote-button"><i class="fi-arrow-down"></i> <%= ctx.t('user.list.demote'); %></button>
              <% } else { %>
              <button data-user="<%= user._id %>" class="success button promote-button"><i class="fi-arrow-up"></i> <%= ctx.t('user.list.promote'); %></button>
              <% } %>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<% include ./partials/promote_modal %>
<% include ./partials/demote_modal %>

<% include ../partials/footer %>
<script src="/js/user/list.js"></script>