<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <div class="callout primary">
      <h5><%= ctx.t('common.important'); %></h5>
      <p><%= ctx.t('common.cookies'); %></p>
    </div>
  </div>
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h3><%= ctx.t('user.login'); %></h3>
      </legend>
      <% form.setRoute('user.login'); %>
      <%- form.renderRest(); %>

    </fieldset>
  </div>
</div>

<% include ../partials/footer %>