<% include ../partials/header %>

<div class="grid-x ">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h2><%= ctx.t('user.profile.header'); %></h2>
  </div>

  <!-- Surveys -->
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h4><%= ctx.t('user.profile.surveys'); %></h4>
    <div class="small button-group">
      <a href="<%= ctx.getRoute('survey.create'); %>" class="button"><i class="fi-plus"></i> <%= ctx.t('survey.create'); %></a>
      <a href="<%= ctx.getRoute('survey.public.view'); %>" class="button"><i class="fi-share"></i> <%= ctx.t('survey.public.view'); %></a>
      <a href="<%= ctx.getRoute('survey.archived.view'); %>" class="button"><i class="fi-page-search"></i> <%= ctx.t('survey.archived.view'); %></a>
    </div>
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('survey.open'); %></th>
        <th><%= ctx.t('survey.opens'); %></th>
        <th><%= ctx.t('survey.closes'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% surveys.forEach(survey => { %>
        <tr>
          <td><span data-tooltip title="<%= survey.description %>"><%= survey.name %></span></td>
          <td><%- survey.isOpen() ? `<i class="fi-check"></i>` : `<i class="fi-x"></i>` %></td>
          <td><%= survey.getOpeningDate().format('DD.MM.YYYY'); %></td>
          <td><%= survey.getClosingDate().format('DD.MM.YYYY'); %></td>
          <td>
            <div class="small button-group float-right stacked-for-small">
              <a href="<%= ctx.getRoute('survey.results', { id: survey._id }); %>" class="small success button" data-tooltip title="<%= ctx.t('survey.edit.results'); %>"><i class="fi-graph-bar"></i></a>
              <a href="<%= ctx.getRoute('survey.edit', { id: survey._id }); %>" class="small button" data-tooltip title="<%= ctx.t('common.edit'); %>"><i class="fi-widget"></i></a>
              <button data-survey="<%= survey._id %>" type="button" class="alert button survey-delete-button" data-tooltip title="<%= ctx.t('common.delete'); %>"><i class="fi-trash"></i></button>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <!-- Evaluations -->
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h4><%= ctx.t('user.profile.evaluations'); %></h4>
    <div class="small button-group">
      <a href="<%= ctx.getRoute('evaluation.create'); %>" class="button"><i class="fi-plus"></i> <%= ctx.t('evaluation.create'); %></a>
      <a href="<%= ctx.getRoute('evaluation.archived.view'); %>" class="button"><i class="fi-page-search"></i> <%= ctx.t('evaluation.archived.view'); %></a>
    </div>
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><i class="fi-results-demographics"></i> <%= ctx.t('evaluation.numberOfGroups'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% evaluations.forEach(evaluation => { %>
        <tr>
          <td><span data-tooltip title="<%= evaluation.description %>"><%= evaluation.name %></span></td>
          <td><%= evaluation.groups.length %></td>
          <td>
            <div class="small button-group float-right stacked-for-small">
              <a href="<%= ctx.getRoute('evaluation.edit', { id: evaluation._id }); %>" class="button" data-tooltip title="<%= ctx.t('common.edit'); %>"><i class="fi-widget"></i></a>
              <button data-evaluation="<%= evaluation._id %>" type="button" class="alert button evaluation-delete-button" data-tooltip title="<%= ctx.t('common.delete'); %>"><i class="fi-trash"></i></button>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <!-- Groups -->
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h4><%= ctx.t('user.profile.groups'); %></h4>
    <div class="small button-group">
      <a href="<%= ctx.getRoute('group.create'); %>" class="button"><i class="fi-plus"></i> <%= ctx.t('group.create'); %></a>
      <a href="<%= ctx.getRoute('group.archived.view'); %>" class="button"><i class="fi-page-search"></i> <%= ctx.t('group.archived.view'); %></a>
    </div>
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><i class="fi-torsos"></i> <%= ctx.t('group.members.count'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% groups.forEach(group => { %>
        <tr>
          <td><span data-tooltip title="<%= group.description %>"><%= group.name %></span></td>
          <td><%= group.members.length %></td>
          <td>
            <div class="small button-group float-right stacked-for-small">
              <a href="<%= ctx.getRoute('group.edit', { id: group._id }); %>" class="button" data-tooltip title="<%= ctx.t('common.edit'); %>"><i class="fi-widget"></i></a>
              <button data-group="<%= group._id %>" type="button" class="alert button group-delete-button" data-tooltip title="<%= ctx.t('common.delete'); %>"><i class="fi-trash"></i></button>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

  </div>
</div>

<% include ../partials/modal %>
<% include ../evaluation/partials/delete_modal %>
<% include ../survey/partials/delete_modal %>
<% include ../group/partials/delete_modal %>

<% include ../partials/footer %>

<script src="/js/user/profile.js"></script>