<% include ../partials/header %>
<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h3>Register</h3>
      </legend>
      <% form.setRoute('user.register'); %>
      <%- form.renderRest(); %>
    </fieldset>
  </div>
</div>

<% include ../partials/footer %>