<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h3><%= ctx.t('evaluation.edit.title'); %></h3>
      </legend>
      <% form.setRoute('evaluation.edit', { id: evaluation._id }); %>
      <%- form.renderRest(); %>
      <div class="button-group">
        <a href="<%= ctx.getRoute('user.profile'); %>" class="button alert"><i class="fi-arrow-left"></i>
          <%= ctx.t('common.back'); %></a>
        <a href="<%= ctx.getRoute('evaluation.archive', { id: evaluation._id, status: 'true' }); %>" class="warning button"><i
            class="fi-archive"></i> <%= ctx.t('common.archive'); %></a>
      </div>
    </fieldset>
  </div>

  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h4><%= ctx.t('evaluation.groups'); %></h4>
    <form action="<%= ctx.getRoute('evaluation.groups.add', { id: evaluation._id }); %>" method="POST">
      <input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
      <label><%= ctx.t('evaluation.add.groups'); %>
        <select name="groups" multiple>
          <% groups.forEach(group => { %>
          <option value="<%= group._id %>"><%= group.name %></option>
          <% }); %>
        </select>
      </label>
      <button type="submit" class="button"><i class="fi-link"></i> <%= ctx.t('common.addSelected'); %></button>
    </form>
  </div>

  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('group.members.count'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% evaluation.groups.forEach(group => { %>
        <tr>
          <td><%= group.name %></td>
          <td><%= group.members.length %></td>
          <td>
            <div class="small button-group float-right">
              <a href="<%= ctx.getRoute('group.edit', { id: group._id }); %>" class="small button"><i
                  class="fi-widget"></i>
                <%= ctx.t('common.edit'); %></a>
              <a href="<%= ctx.getRoute('evaluation.groups.remove', { id: evaluation._id, group: group._id }); %>"
                class="small button alert"><i class="fi-unlink"></i> <%= ctx.t('common.delete'); %></a>
            </div>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

</div>

<% include ../partials/footer %>