<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h3><%= ctx.t('question.edit.title'); %></h3>
      </legend>
      <% form.setRoute('survey.questions.edit', { id: survey._id, question: question._id }); %>
      <%- form.renderRest(); %>
      <a href="<%= ctx.getRoute('survey.edit', { id: survey._id }, 'questions_panel'); %>" class="button"><i class="fi-arrow-left"></i> <%= ctx.t('common.back'); %></a>
      <button data-question="<%= question._id %>" type="button" class="alert button question-delete-button"><i class="fi-trash"></i> <%= ctx.t('common.delete'); %></button>
    </fieldset>
  </div>

  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <h4><%= ctx.t('question.criteria.manage'); %></h4>
    <div class="small button-group stacked-for-small">
      <a class="button"
        href="<%= ctx.getRoute('survey.questions.criteria.create', { id: survey._id, question: question._id, type: 'scale' }); %>"><i class="fi-plus"></i> <%= ctx.t('question.add.criteria.scale'); %></a>
      <a class="button"
        href="<%= ctx.getRoute('survey.questions.criteria.create', { id: survey._id, question: question._id, type: 'select' }); %>"><i class="fi-plus"></i> <%= ctx.t('question.add.criteria.select'); %></a>
      <a class="button"
        href="<%= ctx.getRoute('survey.questions.criteria.create', { id: survey._id, question: question._id, type: 'text' }); %>"><i class="fi-plus"></i> <%= ctx.t('question.add.criteria.text'); %></a>
      <a class="button"
        href="<%= ctx.getRoute('survey.questions.criteria.create', { id: survey._id, question: question._id, type: 'checkbox' }); %>"><i class="fi-plus"></i> <%= ctx.t('question.add.criteria.checkbox'); %></a>
    </div>
    <table>
      <thead>
        <th><%= ctx.t('common.name'); %></th>
        <th><%= ctx.t('criteria.type'); %></th>
        <th></th>
      </thead>
      <tbody>
        <% for (const criteria of question.criteria) { %>
          <tr>
            <td><%= criteria.name %></td>
            <td><%= ctx.t(criteria.type); %></td>
            <td>
              <div class="small button-group stacked-for-small float-right">
                <a href="<%= ctx.getRoute('survey.questions.criteria.edit', { id: survey._id, question: question._id, criteria: criteria._id }); %>" class="button"> <i class="fi-widget"></i> <%= ctx.t('common.edit'); %></a>
                <button data-criteria="<%= criteria._id %>" type="button" class="alert button criteria-delete-button"><i class="fi-trash"></i> <%= ctx.t('common.delete'); %></button>
              </div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<% include ./partials/delete_modal %>
<% include ../criteria/partials/delete_modal %>
<% include ../partials/footer %>

<script src="/js/question/edit.js"></script>