<div class="reveal" id="promote-modal" data-reveal>
  <h3><%= ctx.t('common.important'); %></h3>
  <p><%= ctx.t('user.list.promoteUser'); %></p>
  <form method="POST" action="<%= ctx.getRoute('user.admin', { status: true }); %>">
    <input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
    <input type="hidden" name="user" value="">
    <button type="submit" class="button"><i class="fi-check"></i> <%= ctx.t('common.confirm'); %></button>
    <button type="button" class="alert button" data-close><i class="fi-x"></i> <%= ctx.t('common.cancel'); %></button>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>