<div class="reveal" id="criteria-delete-modal" data-reveal>
  <h3><%= ctx.t('common.important'); %></h3>
  <p><%= ctx.t('criteria.confirmDelete'); %></p>
  <form method="POST" action="<%= ctx.getRoute('survey.questions.criteria.delete', { id: survey._id, question: question._id }); %>">
    <input type="hidden" name="_csrf" value="<%= ctx.csrf %>">
    <input type="hidden" name="criteria" value="">

    <button type="submit" class="button"><i class="fi-check"></i> <%= ctx.t('common.confirm'); %></button>
    <button type="button" class="alert button" data-close><i class="fi-x"></i> <%= ctx.t('common.cancel'); %></button>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </form>
</div>