<% include ../../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h3><%= ctx.t('group.member.edit'); %></h3>
      </legend>
      <% form.setRoute('group.members.edit', { id: group._id, member: member._id }); %>
      <%- form.renderRest(); %>
      <a href="<%= ctx.getRoute('group.edit', { id: group._id }); %>" class="button alert"><i class="fi-arrow-left"></i> <%= ctx.t('common.cancel'); %></a>
    </fieldset>
  </div>
</div>

<% include ../../partials/footer %>