<% include ../partials/header %>

<div class="grid-x">
  <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
    <fieldset class="fieldset">
      <legend>
        <h4><%= ctx.t('criteria.edit.title'); %></h4>
      </legend>
      <% form.setRoute('survey.questions.criteria.edit', { id: survey._id, question: question._id, criteria: criteria._id }); %>
      <%- form.renderRest(); %>
      <a href="<%= ctx.getRoute('survey.questions.edit', { id: survey._id, question: question._id }); %>" class="warning button"><i class="fi-x"></i> <%= ctx.t('common.cancel'); %></a>
      <button data-criteria="<%= criteria._id %>" type="button" class="alert button criteria-delete-button"><i class="fi-trash"></i> <%= ctx.t('common.delete'); %></button>
    </fieldset>
  </div>
</div>

<% include ./partials/delete_modal %>
<% include ../partials/footer %>

<script src="/js/criteria/edit.js"></script>